html, body {
  background-color: #3437C9;
}

.register-company-page .container {
  background-color: #F9F9F9;
  border-radius: 1rem;
  max-width: 600px;
}

.form-control-plaintext {
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}

.form-control-plaintext:focus {
  box-shadow: none;
  border-bottom-color: #3437C9;
}

.botaoCadastrar {
  background-color: #3437C9;
  color: white;
  border: none;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}

.botaoCadastrar:hover {
  background-color: #2d30b2;
}