.profile-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.upload-icon {
  position: absolute;
  right: 45%;
  bottom: 0;
  background: #3437C9;
  color: white;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
}
