
.error-page {
    min-height: 100vh;
    background-color: #F9F9F9;
    padding: 40px 20px;
  }
  
  .error-img {
    width: 300px;
    height: auto;
  }
  
  .error-link {
    color: #3437C9;
    text-decoration: underline;
    font-size: 1rem;
  }
  